<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.jpg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/clients">
    <mat-icon>person_pin</mat-icon> Clients
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/employees"> 
    <mat-icon>person</mat-icon> Employees 
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/orders"> 
    <mat-icon>view_list</mat-icon> Orders 
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/restaurants"> 
    <mat-icon>restaurant</mat-icon> Restaurants 
  </a>
</mat-nav-list>
