.page {
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  &__box {
    min-height: 120px;
    background: #3498DB;
    margin: 0 -1rem;
    line-height: 120px;
    font-size: 36px;
  }
  &__content {
    height: auto;
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;

    mat-form-field {
      width: 90%;
      margin-left:5%;
    }
    button {
      width:30%;
      margin-right:30px;
    }
  }

}
