<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">{{titre}}</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
      <div class="container">
        <div class="row">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="./../../../assets/clients.jpg">
              </div>
              <div class="flip-card-back clients">
                <h1>{{clients}}</h1>
                <h3>Clients</h3> 
              </div>
            </div>
          </div>

          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="./../../../assets/workers.jpg">
              </div>
              <div class="flip-card-back workers">
                <h1>{{empolyes}}</h1>
                <h3>Employees</h3> 
              </div>
            </div>
          </div>

          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="./../../../assets/restaurents.jpg">
              </div>
              <div class="flip-card-back restaurents">
                <h1>{{restaurants}}</h1>
                <h3>Restaurants</h3> 
              </div>
            </div>
          </div>

          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="./../../../assets/orders.jpg">
              </div>
              <div class="flip-card-back orders">
                <h1>{{orders}}</h1>
                <h3>Orders</h3> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
